.body{
  margin: 0;
  padding: 0;
  background: linear-gradient(150deg, rgb(72, 136, 53), rgb(235, 235, 235));
}
.item-nav{
  border-bottom: 2px solid rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.542);
  font-weight: 400;
  font-size: 0.83em;
  transition: border-bottom 0.2s ease-out;
}
.item-nav:hover {
  color: black;
  border-bottom: 2px solid rgb(11, 161, 24);
}
.fondo{
  margin: 0;
  padding: 0;
  background: linear-gradient(150deg, rgb(177, 241, 157), rgb(129, 214, 112));
}
.logueo{
    background: whi;
    border-radius: 10px;
}
.borde{
  border-top: 1px solid #cccccc6e;
  padding-top: 10px;
}
.subt{
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  height: 30px;
  width: 140px;
}
.btn-custom {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 8px 40px;
  border-width: 2.5px;
  border-radius: 12px;
}

.titulo{
  font-size: 3.5rem;
}
.bajotitulo{
  font-size: 1.2rem;
}

.btn-outline-dark{
  background-color: white;
}
.btn-outline-dark:active{
  transform: scale(0.96);
}

.btn.btn-verde,
.btn.btn-verde:hover,
.btn.btn-verde:focus,
.btn.btn-verde:active,
.btn.btn-verde.active {
  background-color: #13811c !important;
  border-color: #13811c !important;
  color: #fff !important;
}
.btn.btn-verde:hover {
  background-color: #086305 !important;
  border-color: #086305 !important;
}
.btn.btn-verde:active {
  background-color: #086305 !important;
  border-color: #086305 !important;
  transform: scale(0.96);
}
.btn.btn-verde:focus,
.btn.btn-verde:active {
  box-shadow: none !important;
  outline: none !important;
}

.duracion{
  color: #13811c;
}
.edad{
  color: #154770;
}
.imagen{
  border-radius: 15px;
}

.icono1{
  font-size: 2rem;
  width: 50px;
  height: 50px;
  background-color: rgb(159, 220, 248);
  border-radius: 10px;
}
.icono2{
  font-size: 2rem;
  width: 50px;
  height: 50px;
  background-color: rgb(222, 182, 248);
  border-radius: 10px;
}
.icono3{
  font-size: 2rem;
  width: 50px;
  height: 50px;
  background-color: rgb(252, 166, 237);
  border-radius: 10px;
}
.icono4{
  font-size: 2rem;
  width: 50px;
  height: 50px;
  background-color: rgb(230, 144, 87);
  border-radius: 10px;
}
.icono5{
  font-size: 2rem;
  width: 50px;
  height: 50px;
  background-color: rgb(155, 241, 177);
  border-radius: 10px;
}
.icono6{
  font-size: 2rem;
  width: 50px;
  height: 50px;
  background-color: rgb(182, 248, 217);
  border-radius: 10px;
}
.icono7{
  font-size: 2rem;
  width: 50px;
  height: 50px;
  background-color: rgb(230, 96, 87);
  border-radius: 10px;
}
.icono8{
  font-size: 2rem;
  width: 50px;
  height: 50px;
  background-color: rgb(155, 224, 241);
  border-radius: 10px;
}
.icono9{
  font-size: 2rem;
  width: 50px;
  height: 50px;
  background-color: rgb(248, 182, 221);
  border-radius: 10px;
}

.horario{
  background-color: wheat;
  border-radius: 15px;
  height: 180px;
}